*,
::before,
::after {
  box-sizing: border-box;
}
.body {
  background-image: url(./img/bkground.jpg);
  background-size: 100%;
}
.header {
  background-color: rgba(0, 0, 0, 0.4);
}
.header-container {
  height: 58px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  margin-left: 80px;
}
.logo-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-img-link {
  margin-right: 25px;
  margin-left: 0;
}
.link {
  display: inline-block;
}
.nav-text-link {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.nav-link {
  color: #ffffff;
  text-decoration: none;
}
.nav-text-link::before {
  content: "";
  width: 2px;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
  float: left;
  margin-right: 25px;
  opacity: 0.5;
}
.form {
  width: 444px;
  height: 584px;
  background-color: #fff;
  position: absolute;
  margin: auto;
  top: 58px;
  left: 0;
  bottom: 0;
  right: 0;
}
.green-shape {
  position: absolute;
  top: 29px;
  left: 0;
}
.form-container {
  height: 515px;
  width: 324px;
  margin: auto;
}
.form-header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-header-sign-link {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin-top: 30px;
  margin-bottom: 0;
}
.form-header-log-link {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  margin-top: 30px;
  margin-bottom: 0;
}
.form-header-facebook-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 160px;
  height: 48px;
  background-color: #305db8;
  border: none;
  border-radius: 3px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;
}
.form-header-google-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 160px;
  height: 48px;
  background-color: #df4a32;
  border: none;
  border-radius: 3px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;
}
.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-main-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin-top: 30px;
  margin-bottom: 0;
}
.form-main-text::after,
.form-main-text::before {
  content: "";
  background-color: #f2f2f2;
  height: 1px;
  width: 152px;
  display: inline-block;
  vertical-align: middle;
}
.form-main-input {
  margin-top: 15px;
  margin-bottom: 0;
  width: 322px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  outline: none;
}
.form-main-input:focus {
  background: #ffffff;
  border: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}
.form-main-input-btn {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 16px;
  border: none;
  margin-top: 20px;
  margin-bottom: 0;
}
.form-main-input-checkbox {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.form-main-input-checkbox-link {
  text-decoration: none;
  color: rgba(60, 184, 120, 0.8);
}
.form-main-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-main-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form-main-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
  background: rgba(0, 0, 0, 0.0001);
}
.form-main-checkbox:checked + label::before {
  background-image: url(./img/checked.svg);
  background-size: 100%;
  padding: 3px;
}
.form-header-facebook-btn:hover {
  background-color: #022263;
}
.form-header-google-btn:hover {
  background-color: #ab1f09;
}
.form-main-input-btn:hover {
  background-color: #01813f;
}
.header:hover .logo-text {
  color: #01813f;
}
.header:hover .nav-link {
  color: #01813f;
  text-decoration-line: underline;
}
.header:hover .nav-img {
  fill: #01813f;
}
.form-header-log-link:hover {
  color: #01813f;
  text-decoration-line: underline;
}
.form-main-input-checkbox:hover .form-main-input-checkbox-link {
  color: #01813f;
  text-decoration-line: underline;
}
