*,
* ::after,
* ::before {
  box-sizing: border-box;
}
body {
  margin: auto;
  width: 1280px;
}
.header {
}
.logo {
  font-size: 80px;
  line-height: 94px;
  color: #000;
  text-decoration: none;
}
.logo-accent {
  color: rgb(32, 154, 202);
}
.header-menu {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #35444f;
}
.header-item {
  height: 72px;

  font-size: 24px;
  line-height: 28px;
  color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 26px 35px 19px 35px;
}
.header-item-link {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}
.main {
  display: flex;
  flex-direction: row;
  width: 885px;
  margin-top: 48px;
}
.leftbar {
  margin-left: 0;
  margin-top: 0;
}
.content-container {
  margin-left: 52px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 885px;
  height: 529px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}
.image {
  width: 320px;
  height: 381px;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-ru {
  margin-top: 37px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.text-en {
  margin-top: 34px;
  margin-bottom: 57px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.leftbar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  margin-top: 0;
  width: 344px;
  height: 399px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  list-style-type: none;
}
.leftbar-item {
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}
.leftbar-item-link {
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  text-decoration: none;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
  list-style-type: none;
}
.footer-item {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.footer-item-link {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  text-decoration: none;
}
.footer-item-copy {
  margin-left: 135px;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
.header-item:hover {
  background-color: #222f3a;
}
.footer-item-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
