/* *,
::before,
::after {
  box-sizing: border-box;
} */
.body {
  background-color: #000;
}
.text {
  font-family: "Poller One", cursive;
  font-size: 35px;
  color: rgb(226, 174, 33);
  line-height: 2;
  text-align: justify;
}
.title {
  text-align: center;
}
.container-text {
  list-style-type: none;
  width: 1050px;
  margin: 0 auto;
  transform: scale3d(1, 1, 0.1) rotateX(50deg);
  animation: scroll 15s linear;
  animation-iteration-count: infinite;
}
.container {
  perspective: 1000px;
}
@keyframes scroll {
  0% {
    margin-top: 500px;
    transform: scale3d(1, 1, 0.1) rotateX(50deg);
  }
  100% {
    margin-top: 0;
    transform: scale3d(1, 1, 1.5) rotateX(50deg);
  }
}
