*,
* ::after,
* ::before {
  box-sizing: border-box;
}

.header-navigation {
  background-color: #313131;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  width: 27px;
  height: 27px;
  margin: 22px 27px 22px 27px;
}
.logo-link {
  text-decoration: none;
}
.logo-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
}
.navigation-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 35px;
}
.navigation-link {
  text-decoration: none;
  color: #ffffff;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 68px;
  height: 70px;
}
.search-img {
  width: 17px;
  height: 17px;
}
.header-news {
  background: url(./img/header-background.jpg);
  height: 369px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-news-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 44px;
}
.header-news-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-news-link-first {
  background-color: #89ca62;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  height: 55px;
  padding: 16px 19px 17px 19px;
  margin-right: 10px;
}
.header-news-link-sec {
  background-color: #14b9d5;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  height: 55px;
  padding: 17px 30px;
  margin-left: 10px;
}
.container {
  text-align: center;
  width: 1170px;
  margin: 0 auto;
}
.posts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #f2f2f2;
  height: 1030px;
}
.title {
  margin-top: 49px;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
}
.posts-list {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  list-style: none;
  height: 1030px;
}
.posts-item {
  margin-left: 15px;
  margin-right: 15px;
}
.posts-item-subtitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 54px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.posts-item-link {
  text-decoration: none;
}
.clients {
  background: url(./img/parallax-bg.jpeg);
  height: 588px;
}
.clients-container {
  text-align: center;
  width: 881px;
  margin-right: auto;
  margin-left: auto;
}
.clients-title {
  padding-top: 106px;
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;

  color: #ffffff;
}
.clients-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-top: 100px;
  margin-bottom: 0;
}
.clients-line {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  bottom: none;
  margin-top: 87px;
  margin-bottom: 0;
}
.top {
  text-align: center;
}
.top-photo-container {
  display: grid;
  grid-template-columns: repeat(7, 217px);
  grid-auto-rows: auto;
  justify-content: center;
  width: 100%;

  margin-top: 52px;
  margin-bottom: 0;
}
.news {
  display: grid;
  grid-auto-rows: auto;
  gap: 25px;
}
.news-head-list {
  list-style: none;
  display: grid;
  grid-template-columns: 483px 374px 277px;
  grid-auto-rows: auto;
  gap: 12px;
  justify-content: center;
  text-align: right;
  padding: 0;
  margin: 0;
}
.news-main-list {
  list-style: none;
  display: grid;
  grid-template-columns: 554px 554px;
  grid-auto-rows: auto;
  gap: 50px;
  justify-content: center;
  text-align: right;
  padding: 0;
  margin: 0;
}
.news-footer-list {
  list-style: none;
  display: grid;
  grid-template-columns: 277px 483px 374px;
  grid-auto-rows: auto;
  justify-content: center;
  gap: 12px;
  text-align: right;
  padding: 0;
  margin: 0;
}

.news-item-subtitle {
  margin-right: 27px;
  margin-top: 14px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.news-item-text {
  margin-right: 27px;
  margin-top: 14px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.news-head-list-item-lit-img {
  justify-self: end;
  text-align: center;
}
.news-footer-list-item-lit-img {
  justify-self: start;
  text-align: center;
}
.footer {
  background-color: #000;
  height: 80px;
  margin-top: 77px;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  align-items: center;
  padding-top: 25px;
}
.footer-text {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  justify-self: start;
}
.footer-logo {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}
