*,
::after,
::before {
  box-sizing: border-box;
}
.body {
  background-image: url(./backgound/background.jpg);
  background-size: 100%;
}
.container {
  width: 1028px;
  margin: 0 auto;
}
.logo-link {
  text-decoration: none;
}
.logo-milan {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
.logo-holidays {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
.logo-img {
  margin-right: 8px;
}
.email {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
.phone {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 19px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 61px;
  margin-top: 46px;
  margin-bottom: 0;
}

.logo {
  display: flex;
  justify-content: start;
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.tours-list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 37px;
  column-gap: 63px;
  margin-top: 25px;
  margin-bottom: 0;
}
.tours-item-link {
  display: block;
  text-align: center;
  text-decoration: none;
}
.tours-item-img {
  width: 100%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-image: linear-gradient(#fff, #000);
}
.tours-item-text {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
.footer-text {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  margin: 49px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-display: swap;
  text-align: center;
}
.header:hover .logo-milan {
  color: #f26522;
}
.header:hover .logo-holidays {
  color: #f26522;
}
.header:hover .img-color {
  fill: #f26522;
}
.header:hover .phone {
  color: #f26522;
}
.header:hover .email {
  color: #f26522;
}
.orange-container {
  background-color: #f26522;
  width: 100%;
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.orange-container-text {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  margin-top: 7px;
  margin-left: 16px;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
.orange-container-price {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 7px;
  margin-left: 16px;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
.orange-container-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: 29px;
  margin-right: 37px;
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
.orange-container-link::after {
  content: url(./backgound/vector.svg);
  margin-left: 16px;
  width: 5px;
  height: 10px;
}
.tours-item {
  position: relative;
  text-align: center;
}
.tours-item:hover .orange-container {
  opacity: 1;
  transform: translateY(-58px);
}
.tours-item:hover .tours-item-text {
  color: #f26522;
}
